body{
	margin 0;
	padding 0;
	font-family: Times-New-Roman, Times, serif;
	background-color: #192a56;
}
#NavBar ul{
	list-style-type: none;
	text-decoration-style: none;
	background-color: #3498db;
	height: 50px;
	text-align: center;
	margin-top: -10px;
}
#NavBar ul .NavItens{
	display: inline;
}
#NavBar ul .NavItens a{
	text-decoration: none;
	font-size: 20px;
	margin: 15px;
	padding: 13px;
	display: inline-block;
	color: #ffffff;
	margin-top: 1px;
	overflow: hidden;
}
#NavBar ul .NavItens a:hover{
	color: #000000;
}
#NavBar ul .NavItens #Ativo{
	background-color: #2980b9;
}
#NavBar ul #logo{
	display: inline;
}
#NavBar ul #Logo a{
	text-decoration: none;
	float: left;
	padding: 14px;
	padding-bottom: 8px;
	display: inline-block;
	font-size: 28px;
	color: #1B1464;	
	margin-top: -73px;
}
#NavBar ul #Logo a:hover{
	color: #ffffff;
}
#Texto{
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 20px;
	border: 1px solid #000000;
	border-top: none;
}
#Texto h1{
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
	text-align: center;
}
#Texto h2{
	font-weight: bold;
	color: #ffffff;
	margin-left: 50px;
}
#Texto img{
	height: 400px;
	width: 700px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
#Texto p{
	color: #ffffff;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	font-size: 18px;
}
#Texto p span{
	font-weight: bold;
}
@media(max-width: 1000px){
	#Texto img{
		height: 80%;
		width: 80%;
	}
}
@media(max-width: 900px){
	#NavBar ul #Logo a{
		font-size: 22px;
		padding: 15px;
		padding-bottom: 9px;
		margin-left: -30px;
		margin-top: -71px;
	}
	#Texto img{
		height: 80%;
		width: 80%;
	}
}
@media(max-width: 750px){
	#NavBar ul #Logo{
		visibility: hidden;
	}
	#Texto img{
		height: 80%;
		width: 80%;
	}
}
@media(max-width: 600px){
	#NavBar ul #Logo{
		visibility: hidden;
	}
	#NavBar ul{
		height: 40px;
	}
	#NavBar ul .NavItens a{
		font-size: 15px;
		margin: 10px;
		padding: 15px;
		padding-bottom: 10px;
		margin-top: -2px;	
	}
	#Texto img{
		height: 80%;
		width: 80%;
	}
}